extends ./layout/index
block contenido
    main.container.mt-5
            .row.proximos-viajes
                    .grid
                        each fullday in fulldays
                            .grid-item
                                .card
                                img.card-img(src=`img/destinos_${fullday.imagen}.jpg` alt='Rome')
                                .card-content
                                    h1.card-header #{fullday.titulo}
                                    p.card-text 
                                    a(href=`/fulldays`, class="btn btn-success btn-block") Mas Información
                                    | Info
                                    span &rarr;