extends ./layout/index
block slider
    .slider.pl-3
        .row.m-0.p-0 
            .col-md-12-col-12.text-center
                p Las mejores promos y los mejores hoteles
                a(href="#promos", class="myButton") PROMOS

block contenido
    main.container.mt-5#sobreNosotros
        h2.text-center.mb-5.sobreNosotros Sobre Nosotros
        
        .row.mb-5
            .col-md-3.col-3
                img(src="img/iconoBus.svg", alt="icono seguridad", class="iconosInicio")
            .col-md-3.col-3
                img(src="img/iconoHotel.svg", alt="icono seguridad", class="iconosInicio")
            .col-md-3.col-3
                img(src="img/iconoPrecio.svg", alt="icono seguridad", class="iconosInicio")
            .col-md-3.col-3
                img(src="img/iconoDestino1.svg", alt="icono seguridad", class="iconosInicio")
            .col-md-12.col-12


            
               
        h2.text-center.mb-5.sobreNosotros Nuestros viajes
        include ./layout/bloque_viajes

    .descuento.mt-5
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha  20 de Marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD