extends ./layout/index
block slider
    .slider.pl-3
        .row.m-0.p-0 
            .col-md-12-col-12.text-center
                p Las mejores promos y los mejores hoteles
                a(href="#promos", class="myButton") PROMOS

block contenido
    main.container.mt-5#sobreNosotros
        h2.text-center.mb-5.sobreNosotros Sobre Nosotros
        
        .row.mb-5
            .col-md-3.col-3
                img(src="img/iconoBus.svg", alt="icono seguridad", class="iconosInicio")
                p En GNViajes siempre pensamos en tu seguridad y que tu viaje sea un verdadero placer, por eso trabajamos con Empresas de Micros habilitadas por CNRT que brindan Calidad y Confort.
                    |Parte del compromiso de estas empresas es brindar los mejor de cada chofer en nuestros viajes, ya que durante el mismo, ellos son parte de nuestra Gran Familia Viajera.
            .col-md-3.col-3
                img(src="img/iconoHotel.svg", alt="icono seguridad", class="iconosInicio")
                p Todos los Hoteles contratados son seleccionados pensando en que debes sentirte como en casa, por eso es que nuestro portafolio contamos con hoteles de  2*Sup, 3* y 4*.
                    |Ademas segun el destino te ofrecemos Servicio de Desayuno, como asi tambien Media Pensión o Pensión Completa para que vos solo te ocupes de disfrutar.
            .col-md-3.col-3
                img(src="img/iconoPrecio.svg", alt="icono seguridad", class="iconosInicio")
                p Nuestros precios se encuentran dentro de los mas competitivos del mercado, no por eso se brinda un servicio de menor Calidad.
                    |Tenemos una Politica de Menores de acuerdo a las normativas vigentes, de 0 a 2 años inclusive acompañado de 2 adultos solo abona Seguro sin servicio y sin butaca, de 3 a 5 años acompañado de 2 adultos abona 50% ocupando servicio y butaca. A partir de los 6 años abona servicio completo.
                    |Todos nuestros precios son finales en efectivo, no pagas gasto de reserva, administrativos ni tasas inexistentes.
            .col-md-3.col-3
                img(src="img/iconoDestino1.svg", alt="icono seguridad", class="iconosInicio")
                P Como no siempre es posible viajar por varios dias, contamos con una amplia variedad de Full Days que  te permiten desconectarte un por un dia.
                    |Entre los Full Day podras encontrar nuestros clasicos dias de Termas, de playa o tambien la posibilidad de descubrir un destino cercano en poco tiempo, tales como San Pedro, Rosario y varios pueblos de la Provincia.
            .col-md-12.col-12


            
               
        h2.text-center.mb-5.sobreNosotros Nuestros viajes
        include ./layout/bloque_viajes

    //- .descuento.mt-5
    //-     .container
    //-         .row
    //-             .col-md-6
    //-                 .contenido
    //-                     h3 5% de Descuento
    //-                     p.titulo Viaje a Canada
    //-                     p.fecha  20 de Marzo de 2022 - 28 de marzo de 2022
    //-                     p.precio $2,500 USD