extends ./layout/index
block slider
    .slider.pl-3
        .row.m-0.p-0 
            .col-md-12-col-12.text-center
                p Las mejores promos y los mejores hoteles
                a(href="#promos", class="myButton") PROMOS

block contenido
    main.container.mt-5#sobreNosotros
        h2.text-center.mb-5.sobreNosotros Sobre Nosotros
        
        .row.mb-5
            .grid          
                .grid-item
                    .card
                    img(src="img/iconoBus.svg", alt="icono seguridad", class="iconosInicio")
                    .card-content
                        h1.card-header-ini 
                        p.card-text En GNViajes siempre pensamos en tu seguridad y que tu viaje sea un verdadero placer, por eso trabajamos con Empresas de Micros habilitadas por CNRT que brindan Calidad y Confort.  
                .grid-item
                    .card
                    img(src="img/iconoHotel.svg", alt="icono seguridad", class="iconosInicio")
                    .card-content
                        h1.card-header-ini 
                        p.card-text Todos los Hoteles contratados son seleccionados pensando en que debes sentirte como en casa, por eso es que nuestro portafolio contamos con hoteles de 2*Sup, 3* y 4*.         
                .grid-item
                    .card
                    img(src="img/iconoDestino1.svg", alt="icono seguridad", class="iconosInicio")
                    .card-content
                        h1.card-header-ini 
                        p.card-text Como no siempre es posible viajar por varios dias, contamos con una amplia variedad de Full Days que te permiten desconectarte por un dia como termas playas San Pedro, Rosario
            

            iframe.pt-5(width='100%' height='480' src='https://www.youtube.com/embed/D1SUilKE8eQ?rel=0&autoplay=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

         
                                        
            
               
        h2.text-center.mb-5.sobreNosotros Nuestros viajes
        include ./layout/bloque_viajes

    //- .descuento.mt-5
    //-     .container
    //-         .row
    //-             .col-md-6
    //-                 .contenido
    //-                     h3 5% de Descuento
    //-                     p.titulo Viaje a Canada
    //-                     p.fecha  20 de Marzo de 2022 - 28 de marzo de 2022
    //-                     p.precio $2,500 USD