extends ./layout/index
block contenido
    main.container.mt-5
            .row.proximos-viajes
                    .grid
                        each mayoJulio in mayoJulios
                            .grid-item
                                .card
                                img.card-img(src=`img/destinos_${mayoJulio.imagen}.jpg` alt='Rome')
                                .card-content
                                    h1.card-header #{mayoJulio.titulo}
                                    p.card-text 
                                    a(href=`/mayo_julio`, class="btn btn-success btn-block") Mas Información
                                    | Info
                                    span &rarr;