extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                 h1= pagina
                 blockquote Lorem ipisc. Nam feugiat risus at venenatis consectetur. Etiam mollis pharetra enim eget auctor. Nam quis mauris dolor. Nullam tincidunt tortor nec nunc varius porttitor. Morbi ac vehicula purus. Donec blandit diam volutpat, dictum est et, suscipit turpis. Nullam luctus sapien purus, ut semper mi molestie ut. In ornare velit quis risus rhoncus ultricies. Duis eu dolordunt orci, sagittis tincidunt erat.

                 p lacus rtor. In hac habitasse platea dictumst. Sed molestie tristique enim, sed sollicitudin ante laoreet sit amet. Ut ornare nisl vel nisi venenatis dapibus. Nunc consequat ante ligula, a tristique orci feugiat ac. Quisque non feugiat metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                 p enales at, auctor sit amet purus. Nullam efficitur metus ac consectetur aliquet. Duis commodo, purus sed faucibus imperdiet, quam diam tincidunt lectus, et ullamcorper nisl risus ut felis. Curabitur id nisi euismod, pharetra neque quis, lobortis risus. Vivamus condimentum urna ut diam convallis, vel vehicula mi ultrices. Class aptent taciti sociosqu ad litora torquent p. Ut aliquam dui quis lacus rhon
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ales at, auctor sit a.  faucibus imperdiet, quam diam tincidunt lectus, et ullamcorper nisl risus ut felis. Curabitur id nisi euismod, pharetra neque quis, lobortis risus. Vivamus condimentum urna ut diam convallis, vel vehicula mi ultrices. Class aptent taciti sociosqu ad litora t

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Mejores Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p ales at, auctor sit a.  faucibus imperdiet, quam diam tincidunt lectus, et ullamcorper nisl risus ut felis. Curabitur id nisi euismod, pharetra neque quis, lobortis risus. Vivamus condimentum urna ut diam convallis, vel vehicula mi ultrices. Class aptent taciti sociosqu ad litora t

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Los Mejores Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p ales at, auctor sit a.  faucibus imperdiet, quam diam tincidunt lectus, et ullamcorper nisl risus ut felis. Curabitur id nisi euismod, pharetra neque quis, lobortis risus. Vivamus condimentum urna ut diam convallis, vel vehicula mi ultrices. Class aptent taciti sociosqu ad litora t