extends ./layout/index
block contenido
    main.container.arreglar
            h3.sobreNosotros Promos exclusivas | #{pagina}
            .row.proximos-viajes.mt-5
                
                    .grid
                            each fullday in fulldays
                            
                                .grid-item
                                    .card
                                    img.card-img(src=`${fullday.imagen}` alt='Rome')
                                    .card-content
                                        h1.card-header #{fullday.titulo}
                                        p.card-text 
                                        a(href=`/viajes/info/${fullday.idfullday}`, class="myButton") Mas Información &rarr;    
                                        