.row.proximos-viajes
            .grid
                .grid-item
                    .card
                    img.card-img(src=`img/destinos_roma.jpg` alt='Rome')
                    .card-content
                        h1.card-header  POMOCIONES
                        p.card-text promo
                        a(href=`/promociones`, class="btn btn-success btn-block") Mas Información
                        | Info
                        span &rarr;
            .grid
                .grid-item
                    .card
                    img.card-img(src=`img/destinos_roma.jpg` alt='Rome')
                    .card-content
                        h1.card-header  VIAJES EN EL DIA
                        p.card-text VIAJE
                        a(href=`/fulldays`, class="btn btn-success btn-block") Mas Información
                        | Info
                        span &rarr;
            .grid
                .grid-item
                    .card
                    img.card-img(src=`img/destinos_roma.jpg` alt='Rome')
                    .card-content
                        h1.card-header  MAYO - JULIO
                        p.card-text promo
                        a(href=`/mayo_julio`, class="btn btn-success btn-block") Mas Información
                        | Info
                        span &rarr;
