.row.proximos-viajes#promos
            h1.textoImg  POMOCIONES EXCLUSIVAS
            a(href="/promociones", class="botonImg") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`img/promocionesEspeciales.jpg` alt='Rome')
            h1.textoImg  Viajes en el dia
            a(href="/fulldays", class="botonFullDay") Todos Los FullDays
            .grid
                .grid-item
                    .card
                        img.card-img(src=`img/viajesEnElDia.jpg` alt='Rome')
            //- h1.textoImg  Promociones de Invierno
            //- a(href="/viajes", class="botonInvierno") viajes en invierno
            //- .grid
            //-     .grid-item
            //-         .card
            //-             img.card-img(src=`img/destinos_roma.jpg` alt='Rome')
