.row.proximos-viajes#promos
            //- h1.textoImg  TODOS LOS VIAJES
            //- a(href="/viajes", class="botonImg") Todas Las Promos
            //- .grid
            //-     .grid-item
            //-         .card
            //-             img.card-img(src=`img/promocionesEspeciales.jpg` alt='Rome') 

            h1.textoImg  VIAJES EN EL DIA
            a(href="/viajes?slug=fullday", class="botonImg") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`https://media.viajando.travel/p/42f410fb38a8bba427d9cd4197a060e0/adjuntos/236/imagenes/000/343/0000343712/las-termas-enquelga-estan-insertas-el-parque-nacional-volcan-isluga-al-norte-chile.jpg` alt='Rome')
            h1.textoImg  AGOSTO A FULL NIEVE
            a(href="/viajes?slug=agosto", class="botonFullDay") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`https://i.pinimg.com/originals/a2/4d/c8/a24dc89d305cf128cf4f307efd3ebb60.jpg` alt='Rome')  
            h1.textoImg  SEPTIEMBRE EN PRIMAVERA
            a(href="/viajes?slug=septiembre", class="botonInvierno") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`https://diariosanrafael.com.ar/wp-content/uploads/2018/11/Alertan-sobre-los-riesgos-de-las-playitas-de-Valle-Grande.jpg` alt='Rome')
            h1.textoImg FINDE FERIADO 9 DE JULIO!
            a(href="/viajes?slug=9", class="botonInvierno") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`https://d14aol1otb1k4s.cloudfront.net/r/les-images-main/1429x1429/5b6e8f5071d1fb8599037308b9acd07026c3f47414adde7470c5d18f993e76c7.jpeg/jpeg` alt='Rome')
            h1.textoImg VACACIONES DE INVIERNO 
            a(href="/viajes?slug=diciembre", class="botonInvierno") Todas Las Promos
            .grid
                .grid-item
                    .card
                        img.card-img(src=`https://fotografias.lasexta.com/clipping/cmsimages01/2019/02/25/80F95053-2925-4AF6-9D1C-6E9CF53F2969/default.jpg?crop=887,499,x57,y0&width=1900&height=1069&optimize=low` alt='Rome')

            
