header
     .container-fluid.p-0.m-0
            .row
                nav.navbar.navbar-lg.navbar-light.bg-light.fixed-top
                    .col.md-6.col-4
                        a.navbar-brand.mt-0(href='#' class="logoInicio") GNVIAJES
                    .col.md-2.col-2
                        h1.subInicio Travel & hotel 
                    .col.md-1.col-2.p-0.m-0
                        a.navbar-brand1(href='#') Inicio
                    .col.md-1.col-2.p-0.m-0
                        a.navbar-brand1(href='#') Nosotros
                    .col.md-1.col-2.p-0.m-0
                        a.navbar-brand1(href='#') Viajes
